@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');
@import url('online.css');

body{
	padding-top:0;
	font-family:'Open Sans', sans-serif;
	font-size:0.9em;
}
a {
	color:#00549f;
}
a:hover {
	color:#c00;
}
.navbar-inner {
	background: #022f59 !important;
	border:none !important;
	color:#ffffff !important;
	text-shadow:none !important;
}
.navbar-inner a, .navbar-text{
	color:#ffffff !important;
	text-shadow:none !important;
}
.navbar .brand {
	background: url('../img/wju_h_white.png') no-repeat left center;
	background-size: auto 50%;
	height: 0px;
	padding:68px 10px 0 !important;
	overflow:hidden;
}
.navbar ul.nav {
	margin-top:14px;
}
.navbar .btn-navbar, .navbar .btn-navbar:hover, .navbar .btn-navbar.active{
	background:none;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin:20px 10px;
}
.dir-ltr .usermenu {
	margin-top:12px;
}
.dir-ltr .usermenu .menu a {
	color:#333 !important;
}
.dir-ltr .usermenu .menu a:hover {
	background:#022f59 !important;
	color:#fff !important;
}
h1, h2, h3, h4.categoryname {
	font-weight:400;
}
#page {
	margin-bottom:20px;
}
#page-header h1 {
	height:0;
	margin-bottom:15px;
	margin-top:0px;
	overflow:hidden;
}
#page-header h1.show {
	height:auto;
	margin-bottom:20px;
	margin-top:20px;
}
#page-site-index #page-header h1, #page-my-index #page-header h1 {
	background:url() no-repeat top center;
	background-size: auto 100%;
	height:0;
	margin:0 -20px 15px;
	overflow:hidden;
	padding:310px 0 0;
}
.breadcrumb{
	background:none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0;
	padding-left:0;
}
.block, .forumpost, .coursebox {
	border:none;
	border-top:solid 1px #e8e8e8;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.block .header h2{
	font-size:0.8em;
}
#site-news-forum .subscribelink {
	float:right;
}
.unlist li {
	margin-bottom:.3em;
}
.unlist .smallicon {
	margin-right:6px;
}
.courses .coursebox.collapsed {
	border:none;
}
.coursebox>.info>.coursename {
	float:left;
}
.coursebox>.info>.coursename a {
	background-position:left center;
}
.course_category_tree .category>.info {
	background:none;
	border:none;
	-webkit-border-radius:none;
	-moz-border-radius:none;
	border-radius:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.course-content .summary p {
	line-height:1.4em !important;
}
.course-content ul.folderview img.folder_icon {
	background: url('../img/folder_closed.png') no-repeat;
	background-size:100% 100%;
	opacity:0.4;
	width:32px;
	height:32px;
}
.course-content ul.folderview .expanded img.folder_icon{
	background-image: url('../img/folder_opened.png');
}
div.left.side {
	/* display:none; */
}
.folderview div.left.side {
	display:block;
}
.folderview li:first-child div.left.side {
	display:none;
}
.right a .one {
	opacity:0.4;
}
.collapse-sections {
	margin-left:2px;
}
.block_myprofile .picture {
	float:left;
	margin-right:20px;
}
.block_myprofile .content:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
#page-site-index #page-footer {
	display:none;
}
#page-footer {
	border:none;
}
#page-footer .footnote, #page-footer .logininfo, #page-footer .homelink {
	display:none !important;
}
#accreditation {
	background:#f5f5f5;
	padding:1.5em;
}
#accreditation img {
	height:60px;
}
#accreditation ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#accreditation ul li {
	display: inline;
	padding:0 20px;
}
#footer-credits{
	text-align:center;
	padding:1.5em;
	background: #022f59 !important;
	color:#f1f1f1 !important;
}
.userpicture{
	border-radius:50%;
}

.modtype_hsuforum .mod-indent-outer {
	display: table !important;
}

@media (max-width: 979px) {
	body#page-site-index header#page-header h1, body#page-my-index header#page-header h1 {
		padding-top:180px;
	}
	body {
		padding-top: 0;
		font-size:0.8em;
	}
	.navbar-static-top {
		margin-bottom: 0;
	}
	.navbar-static-top .navbar-inner, .navbar-static-bottom .navbar-inner {
		padding: 0;
	}
	.navbar .brand {
		margin-left:0;
	}
	.navbar .nav-collapse.active {
		border:none;
	}
}

@media (max-width: 767px){
	body#page-site-index header#page-header h1, body#page-my-index header#page-header h1 {
		background-size: auto 135%;
		padding-top:100px;
	}
	h1 {
		font-size:28px !important;
	}
	h3 {
		font-size:18px !important;
	}
	h3.categoryname {
		line-height:24px;
	}
	h4.categoryname {
		font-size:16px !important;
	}
	.navbar .brand {
		margin-left:20px;
	}
	.forumpost .row .left {
		display:none;
	}
	.forumpost .row .topic {
		margin-left:0;
	}
	.navbar .nav-collapse.active {
		margin:auto 20px;
	}
	.mod-indent-2 {
		width:20px !important;
	}
	.mod-indent-4 {
		width:40px !important;
	}
	#accreditation, #footer-credits {
		margin:auto -20px;
	}
	#accreditation ul li {
		display: inline;
		padding:0 10px;
	}
	#accreditation img {
		height:30px;
	}
	#footer-credits {
		font-size:0.6em;
		line-height: 1.4em;
	}
}
