/* <link href="//jessupuniversity.github.io/css/online.css" rel="stylesheet"> */
h3{
  padding-top: 20px;
  color: #022F59;
  font-size: large;
  font-weight: bold;
}
h3.first {
  padding-top:0px;
}
h4{
  margin-left:30px;
  color: #022F59;
  font-size: 11pt;
  font-weight: bold;
}
.nobullet li {
  margin-left: 5px;
  padding-bottom: 10px;
  list-style-type: none;
}
.nobulletindent li{
  margin-left: 30px; 
  padding-bottom: 10px;
  list-style-type: none;
}
.nobulletnest li{
  padding-top:10px;
  list-style-type:none;
}
.bullet li{
  margin-left: 30px;
  padding-bottom:10px;
}
.bulletnest li{
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 0px;
}

/* experiments in tabs 
div.items div:not(:target){
  display: none;
}
div.items div:target {
  display:block;
}
*/

/* experiments in tabs for CSS TEST 2 
 *, *:before, *:after {margin: 0; padding: 0; box-sizing: border-box;}
   .tabarea {margin: 0 auto; min-width: 320px; max-width: 800px;}
   .tabcontent {background: #fff; color: #373737;}
   .tabcontent > div {display: none; padding: 20px 25px 5px;}
 
   input {display: none;}
   label {display: inline-block; padding: 15px 25px; font-weight: 600; text-align: center;}
   label:hover {color: #fff; cursor: pointer;}
   input:checked + label {background: #ed5a6a; color: #fff;}
 
   #read:checked ~ .tabcontent #readcontent
   #view:checked ~ .tabcontent #viewcontent,
   #assignments:checked ~ .tabcontent #assignmentscontent
   {
     display: block;
   }
*/
 
/* for CSS Test 3 
.alltabs {
  position: relative;   
  min-height: 200px; 
 clear: both;
  margin: 25px 0;
}
.cmftab {
  float: left;
}
.cmftab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.cmftab [type=radio] {
  display: none;   
}
.cmfcontent {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label:nth-child(n) ~ .cmfcontent {
  z-index: 1;
}
*/

/* This is for CSS & JQUERY TEST 
.cmftabs{
  width:100%
  display:inline-block;
}
.cmftab-links:after{
  display:block;
  clear:both;
  content:'';
}
.cmftab-links li{
  margin: 0px 5px;
  float: left;
  list-style:none;
}
.cmftab-links a{
  padding:9px 15px;
  display: inline-block;
  border-radius: 3px 3px 0px 0px;
  background: #7FBSDA;
  font-size: 16px;
  font-weight: 600;
  color: #4c4c4c;
  transition: all linear 0.15s;
}
.cmftab-links a:hover{
  background:#a7cce5;
  text-decoration:none;
}
li.active a, li.active a:hover{
  background:#fff;
  color:#4c4c4c;
}
.cmftab-content{
  padding:15px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  background: #fff;
  }
.cmftab{
  display:none;
}
.cmftab.active{
  display:block;
}
*/


/* THIS IS CSS FOR RYAN'S TEST
.tabs {
    width:100%;
    display:inline-block;
}

  .tab-links:after {
    display:block;
    clear:both;
    content:'';
  }
  
  .tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
  }
  
  .tab-links a {
    padding:9px 15px;
    display:inline-block;
    border-radius: 3px 3px 0px 0px;
    background: #7FB5DA;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition: all linear 0.15s;
  }
  
  .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4c4c4c;
    }
 
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }
}
 */

/* CONTENT FOR RYANS TEST 2 */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* COLOR THAT IS NOT NEEDED
body {
  padding: 20px;
  text-align: left;
  font-family: Lato;
  color: #000;
  background: #FFFFFF;
}
*/

/* 
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  float: left;
  margin: 20px 0 100px 10px;
}
h1 span {
  font-size: 13px;
  display: block;
  padding-left: 4px;
}
*/

.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: absolute;
  margin: 80px 0 0 10px;
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 20px;
  font-weight: normal;
  background: #e3e3e3;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #D0D0D0 ;
}
.tabs .tab-content {
  z-index: 1;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #FFF;
  height: 1000px;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #e3e3e3;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

/*
p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #612e76;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}
*/
