/* <link href="//jessupuniversity.github.io/css/online.css" rel="stylesheet"> */
h3{
  padding-top: 20px;
  color: #022F59;
  font-size: large;
  font-weight: bold;
}
h3.first {
  padding-top:0px;
}
h4{
  margin-left:30px;
  color: #022F59;
  font-size: 11pt;
  font-weight: bold;
}
.nobullet li {
  margin-left: 5px;
  padding-bottom: 10px;
  list-style-type: none;
}
.nobulletindent li{
  margin-left: 30px; 
  padding-bottom: 10px;
  list-style-type: none;
}
.nobulletnest li{
  padding-top:10px;
  list-style-type:none;
}
.bullet li{
  margin-left: 30px;
  padding-bottom:10px;
}
.bulletnest li{
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 0px;
}

/* experiments in tabs */
div.items div:not(:target){
  display: none;
}
div.items div:target {
  display:block;
}
