/* <link href="//jessupuniversity.github.io/css/online.css" rel="stylesheet"> */
h3{
  padding-top: 20px;
  color: #022F59;
  font-size: large;
  font-weight: bold;
}
h3.first {
  padding-top:0px;
}
h4{
  margin-left:30px;
  color: #022F59;
  font-size: 11pt;
  font-weight: bold;
}
.nobullet li {
  margin-left: 5px;
  padding-bottom: 10px;
  list-style-type: none;
}
.nobulletindent li{
  margin-left: 30px; 
  padding-bottom: 10px;
  list-style-type: none;
}
.nobullettier2 li{
  padding-top: 10px;
  list-style-type: none;
  padding-bottom: 0px;
  margin-left: 0px;
}
.nobulletnest li{
  padding-top:10px;
  list-style-type:none;
}
.bullet li{
  margin-left: 30px;
  padding-bottom:10px;
}
.bullettier2 li{
  padding-top: 10px;
  padding-bottom: 0px;
  margin-left: 0px;
}


.tabbs{
    max-width: 100%;
    margin: 20px;       
    font-size: 0;
}
.tabbs input[type="radio"]{
    display: none;
}

/*
.tabbs label{
    display: inline-block;
    padding: 10px 20px;
    background: lightgray;
    color: #fff;    
    font-size: 15px;    
}
*/
.tabbs label {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  

  z-index: 2;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  font-size: 15px;
  font-weight: normal;
  background: #f5f5f5;
  cursor: pointer;
  top: 10px;

  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tabbs label:hover{   
    background: #D0D0D0;
}
.tabbs label:active,
.tabbs label:focus{   
    background: #0088CC;
}

.tabbs input[type="radio"]:checked + label{
    display: inline-block; 
    padding-left: 15px;
   font-size: 18px;
    background: #022f59;
    color: #fff;
}
.tabbs input[type="radio"]:not(:checked) + label{
    padding-left: 15px;
}

.tabb-content{
    display: none;
    font-size: 14px;
    font-family: 'segoe ui';
    padding: 15px;
 background: #f5f5f5;
    border-top: none;
    position: relative;
}

/*
.tabb-content:before{
    content: '';
    position: absolute; top: 5px; left: -1px;
    width: calc(100% + 2px);
    height: 3px;
    background: #F5F5F5;   
}
*/


.tabb-content h3{
    font-size: 22px;
}
.tabbs #tabb1:checked ~ #tabb-content1,
.tabbs #tabb2:checked ~ #tabb-content2,
.tabbs #tabb3:checked ~ #tabb-content3{     
    display: block;
}

.viddesc {
  text-align:center;
  margin-top:20px;
}
